body {
  font-family: "Open Sans", sans-serif;
  background-color: #3f1f68;
}

html {
  scroll-behavior: smooth;
}

.card {
  background-color: #351a57;
}

/* sidenav start */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #351a57;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  display: block;
  transition: 0.3s;
  margin-top: 10px;
  text-align: center;
}

.sidenav a:hover {
  color: rgb(139, 139, 139);
}

/* sidenav end */

/* main start */

main .text {
  animation-delay: 0.5s;
}

main .person {
  animation-delay: 1s;
}

nav ul li:hover {
  margin-top: -2px;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

.red {
  color: white;
  background-color: #e43e3e;
  border: 2px solid #e43e3e;
}

.red:hover {
  color: #e43e3e;
  background-color: #3f1f68;
  transition: 0.3s;
}

.red:focus {
  outline: none !important;
}

main .white:hover {
  color: #e43e3e;
  border: 2px solid #e43e3e;
  transition: 0.3s;
}

main button:focus {
  outline: none !important;
}

/* main end */

/* scroll in animation start */

[data-scroll] {
  transition: all 1s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateY(25px);
}

/* scroll in animation end */

/* work start */

section .work-pic:hover {
  transform: scale(0.98);
  transition: 0.4s;
}

/* work end */

/* contact start */

#contact .icon:hover {
  transform: scale(0.9);
  transition: 0.4s;
}

section .up:hover {
  transform: scale(0.9);
  transition: 0.4s;
}

/* contact end */
